# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include shell_command.cfg]
# **********************************************************************************
# Definición de la Impresora
# **********************************************************************************

#[printer]
#kinematics: cartesian
#max_velocity: 600 #300 #600
#max_accel: 1600 #3000 #3000
## max_accel_to_decel: 2000 # 20231103 # 20240314 Obsoleto debe desaparecer
#max_z_velocity: 20 #5 #20
#max_z_accel: 200 #100 #200
#square_corner_velocity: 4.5 #5.0
##max_velocity: 1000
##max_accel: 1000

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 10
max_z_accel: 1000
square_corner_velocity: 5.0


# **********************************************************************************
# Mainsail y Fluidd
# **********************************************************************************

[include mainsail.cfg]

[virtual_sdcard]
path: /home/joaquin/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# **********************************************************************************
# Macros, including folders, Cualquier fichero que haya dentro de esas carpetas, queda incluido
# **********************************************************************************

[include ./macros/*.*]  # Abre el acceso a incluir todo lo que haya en el directorio de macros

[include ./leds/*.*]  # Abre el acceso a incluir todo lo que haya en el directorio de leds

#[include adxl.cfg] # Comment this out when you disconnect the accelerometer

[include KAMP_Settings.cfg] #KAMP

# **********************************************************************************
# Ajustes diversos, aunque necesarios
# **********************************************************************************

[exclude_object]

[print_stats]

[pause_resume]
recover_velocity: 50.0

[display_status]

#[gcode_arcs]
#resolution: 0.1

# **********************************************************************************
# Bltouch
# **********************************************************************************

#[bltouch]
#sensor_pin: PC14 # this is unique to your mainboard
#control_pin: PA1  #this is unique to your mainboard
#probe_with_touch_mode: false               # Activar para BL-Touch v3.0 ORIGINAL #nuevo
#stow_on_each_sample: true #nuevo
#pin_up_touch_mode_reports_triggered: false #nuevo
#pin_up_reports_not_triggered: True #nuevo
#x_offset: -42 #42         #this needs to be calibrated
#y_offset: 0 #1
#samples: 2
#speed: 3 #2
#sample_retract_dist: 5 #nuevo
#samples_tolerance: 0.1 #0.03 #nuevo
#samples_tolerance_retries: 5 #nuevo
#samples_result: average #median #nuevo
#z_offset = 2.297#1.799
#z_offset: 1.947 #3.300

# **********************************************************************************
# MicroProbe
# **********************************************************************************

#[gcode_macro Probe_Deploy]
#gcode:
#    SET_PIN PIN=probe_enable VALUE=1

#[gcode_macro Probe_Stow]
#gcode:
#    SET_PIN PIN=probe_enable VALUE=0

#[output_pin probe_enable]
#pin: PA1         # Change this to the Servo/control pin number for your board.
#value: 0

#[probe]
#pin: ^!PC14         # Change this to the Probe/Z- pin number for your board. Remove the ! for V1 probes.
#deactivate_on_each_sample: False
#x_offset: -40.0                    # Change the probe offsets to meet your machine requirements.
#y_offset: 0
##z_offset = 1.104
#speed: 5.0
#samples: 2
##sample_retract_dist: 2.0
#samples_tolerance: 0.05
#samples_tolerance_retries: 3
#activate_gcode:
#    Probe_Deploy
#    G4 P500
#      # allow time for probe to deploy before homing Z
#deactivate_gcode:
#    Probe_Stow

# **********************************************************************************
# Eddy ng
# **********************************************************************************

[mcu eddy]
# FOR USB: replace this with your serial port ID
# FOR CANBUS: replace this with your canbus UUID
serial: /dev/serial/by-id/usb-Klipper_rp2040_504450593069E11C-if00
restart_method: command

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: -42 # INSERT VALUE FOR YOUR PROBE POSITION
y_offset: 0 # INSERT VALUE FOR YOUR PROBE POSITION 

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

# **********************************************************************************
# Eddy ng
# **********************************************************************************

[safe_z_home]
home_xy_position: 156, 108 #114,104 #78,108.50 #115,117.50 #this should be the center of your bed
speed: 50 
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 200
horizontal_move_z: 2
mesh_min: 5, 5 #-41, -1 #10, 10       #!!min and max co-ords are based on the probes location not the nozzle!!
mesh_max: 186, 208 #228, 208 #230, 219  #needs to be calibrated for your individual printer
probe_count: 10, 10 #5,5 #this is the number of probing points on X then Y axis
algorithm: bicubic
#mesh_pps: 2,2
#fade_start: 1.0
#fade_end: 10
#fade_target: 0

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 39.74 #39.72 #40
endstop_pin: ^PC0
position_endstop: 228 #0
position_max: 228 #235
homing_speed: 50

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 39.79 #39.8 #40
endstop_pin: ^PC1
position_endstop: 208 #0
position_max: 208 #235
position_min: -18
homing_speed: 50

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4 #8
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_max: 270 #250
position_min: -2


[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
#microsteps: 16
#rotation_distance: 7.712#33.500
#nozzle_diameter: 0.400
#filament_diameter: 1.750
microsteps:16
rotation_distance: 5.780 #5.7 ##rotation_distance: 23.967
#gear_ratio: 50:17
full_steps_per_rotation: 200  #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
max_extrude_cross_section: 5
#control: pid
#pid_Kp: 14.669
#pid_Ki: 0.572
#pid_Kd: 94.068
min_temp: 0
max_temp: 250
max_extrude_only_distance: 500

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999
[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F #ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan heatbreak_cooling_fan]
pin: PC7

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4C0030000950414733303120-if00
#serial: /dev/ttyS5 #/dev/ph-uart5
#serial: /dev/ttyAMA0
restart_method: command

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[output_pin BEEPER_Pin]
#pin: gpiochip0/PI13 #rpi:gpio261 # for Raspberry Pi
#pin: host:gpio22
#pwm: True
#pwm: False

[skew_correction]

[screws_tilt_adjust]
screw1: 73,20
screw1_name: front left screw
screw2: 228,20
screw2_name: front right screw
screw3: 228,193
screw3_name: rear right screw
screw4: 73,193
screw4_name: rear left screw
horizontal_move_z: 10
speed: 100
screw_thread: CW-M4

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.
#[include eddy.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.460
#*# pid_ki = 1.684
#*# pid_kd = 62.146
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.657
#*# pid_ki = 1.433
#*# pid_kd = 846.335
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 40.4
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 49.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.465831, 0.111984, 0.100415, -0.035827, -0.093517, -0.104700, -0.088381, -0.088710, -0.097458, -0.092023
#*# 	  -0.426384, 0.010347, 0.001431, -0.068944, -0.079091, -0.095636, -0.067187, -0.035816, -0.064801, 0.045145
#*# 	  -0.383365, -0.083588, -0.070743, -0.076992, -0.072223, -0.057365, -0.036986, -0.014227, -0.012473, 0.009202
#*# 	  -0.470504, -0.116523, -0.110457, -0.082679, -0.060918, -0.058552, -0.028194, -0.002028, 0.000000, 0.074913
#*# 	  -0.401609, -0.110163, -0.080286, -0.062391, -0.040543, -0.026144, -0.006962, 0.012085, 0.030386, 0.039767
#*# 	  -0.439705, -0.094429, -0.073416, -0.046421, -0.017394, -0.010748, 0.008334, 0.037195, 0.038632, 0.082993
#*# 	  -0.396824, -0.080286, -0.060920, -0.033791, -0.013033, -0.000033, 0.019542, 0.033211, 0.044567, 0.048806
#*# 	  -0.390933, -0.049955, -0.030248, 0.001152, 0.014377, 0.021826, 0.036920, 0.050208, 0.053613, 0.074913
#*# 	  -0.270300, -0.030850, -0.025577, -0.001748, 0.020682, 0.028074, 0.050236, 0.068218, 0.071568, 0.071541
#*# 	  -0.044351, 0.057533, -0.016548, 0.000560, 0.011807, 0.026972, 0.034376, 0.069036, 0.078251, 0.072683
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 185.99
#*# min_y = 5.0
#*# max_y = 207.95000000000005
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16
#*# calibration_version = 5
#*# reg_drive_current = 16
#*# tap_drive_current = 16
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUCs1uyqfe/U/UsGTFG7S/D8hdZH5zCPoP5tRYO44mNw/Vpim772bxj+G/C3rk/ySP41Ih/Q1usA/BjCo8SJsyz/AD77cljC1P6Ts+WueEXY/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ3fHCP+K5lD6WQNvz0yqVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQzG+ub7SaGkAdR6sKWy4JQJVftNn5mvg/S2AOG9RC9j/79bwB4iD3P9h6zCD7Ddq/gNpSvL7m8b8dxhwVp0nwP5arxD6eHPU/9GOC58b2xT+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEGjZ40p3J5U+bGSc5r0+lT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1B1+dizeA6VPiaqybt6MSc+FzzXJ5MnGb4jnwQpXhEHPt+DQXHT5va9NCInH1t49r2f4MCagUTrPdsMTuAdmgQ+77tnLFSJxL3f3WO2inL4vZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQALA0Kp00TT80/ziTePkTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/TTSdKjSwAEdALf///////2WMB2ZfcmFuZ2WUXZQoR0FIGYVjRwgAR0FItAEbW3AAZYwCZGOUSxB1Lg==
#*# tap_adjust_z = -0.035
