######################################################################
# Ajusta el PID de la cama
######################################################################

[gcode_macro PID_Bed]

description: Calibracion del PID que controla la temperatura de la cama
gcode:
        BEEP
        led_warning
        #NOTIFY TEXT="Procediendo a calibrar el PID de la cama."
        #NOTIFY TEXT="despues de acabar y guardar los datos,"
	#NOTIFY TEXT="el sistema se reiniciará"

        centrado
        _led_rojo

	PID_CALIBRATE HEATER=heater_bed TARGET=60
        BEEP
        #NOTIFY TEXT="Ajuste acabado, ahora el sistema se reiniciará."
        G4 P3000 ; tres segundos
	SAVE_CONFIG         

        centrado

        _led_atencion     

########################################################################